<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daniel's Blog</title>
    <link rel="stylesheet" href="styles/styles.css">
</head>

<body>
    <nav class="navbar">
        <div>
            <span>Daniel Kaminsky's Blog</span>
        </div>

        <div class = "nav-links">
            <a href="" class="item">Fillll</a>

            <a href="" class="item">Filll</a>

            <a href="" class="item">Filll</a>
        </div>
    </nav>