
<%- include("./partials/header.ejs") %>



<main>

    <aside class = "sidebar"> 
        
        <ul class="blogList">
            <li class="blog">
                My First Blog!!!
            </li>

            <li class="blog">
                Second Blog
            </li>

            <li class="blog">
                The Day of Troubles
            </li>

            <li class="blog">
                Blogging to Pyonyang
            </li>
        </ul>
    </aside>
   
    <section class="blog-text">
        <h2 class="blog-title">Blogging to Pyonyang </h2>
        <p class = "text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In congue sapien ac ex ornare cursus. Nam in augue sodales, pulvinar nibh eu, ornare nulla. Nulla facilisi. Nunc sed neque venenatis, accumsan est in, facilisis sapien. Aliquam pulvinar vestibulum suscipit. Morbi sit amet malesuada purus. Sed et quam accumsan magna fermentum scelerisque.

            <br><br> Etiam turpis eros, condimentum at interdum sed, fermentum sed urna. Vestibulum tempor leo tortor, vel interdum felis dapibus non. Fusce vel euismod arcu. Vivamus vel dignissim elit. Fusce ligula purus, scelerisque a varius ut, bibendum sed felis. Donec malesuada efficitur turpis. Donec non arcu eu justo malesuada euismod. Quisque vestibulum massa sed risus dignissim malesuada. Sed id felis facilisis ipsum mattis sollicitudin eget sit amet erat. Nullam mattis orci purus, nec tincidunt quam porttitor ut. Nulla diam nibh, euismod in felis sed, imperdiet fringilla dolor. Ut ultrices, tellus eu tempus bibendum, nisl ipsum pellentesque tellus, a ultricies felis nulla at nunc. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            
            <br><br> Donec est risus, vehicula in consequat vel, dictum in mauris. Morbi varius lectus a orci molestie ultrices. Etiam sollicitudin felis at tincidunt cursus. Maecenas placerat sed turpis sed tincidunt. Morbi volutpat ante at leo faucibus ornare. Integer id orci ipsum. In maximus eleifend ex, sed auctor nisl vehicula sit amet.
            
            <br><br> Morbi lectus augue, tempus id accumsan eu, rutrum eget erat. Curabitur sed lacus porttitor, vehicula diam sed, vehicula erat. Aliquam ut pulvinar elit. Phasellus tempor gravida purus imperdiet consectetur. Phasellus pretium vel mi eu laoreet. Praesent vel tincidunt dolor. Maecenas placerat risus odio. Integer bibendum odio purus, nec semper nunc faucibus vitae. Suspendisse a condimentum diam. Vestibulum vestibulum, magna vitae accumsan egestas, justo urna convallis libero, id pharetra tellus massa quis justo. Suspendisse id nulla nec metus scelerisque vehicula vitae vitae nibh. Suspendisse suscipit sodales interdum. Etiam sed auctor felis. Aenean porttitor nunc id eleifend feugiat.
            
            <br><br> Aliquam sed cursus diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Integer mattis enim augue, vel laoreet nunc dictum in. Integer tristique orci ac maximus eleifend. Quisque vestibulum sodales scelerisque. Nulla rhoncus facilisis neque ut placerat. Suspendisse potenti. Nunc et lobortis lorem. Duis aliquam, metus non ultricies pretium, tellus ante volutpat velit, a aliquet nunc justo sit amet lorem. Maecenas lacus magna, pretium vitae libero ornare, facilisis tristique enim. Suspendisse dignissim dapibus pharetra.</p>
       

    </section>








</main>









<%- include("./partials/footer.ejs") %>